ul {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  li {
    height: 30vh;
    width: 35vw;
    background-color: white;
    border-radius: 20px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
    .container {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      padding-block-end: 1rem;
      .votes {
        font-size: 0.8rem;
      }
    }
    a {
      height: 70%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
      padding-inline: 1rem;
      gap: 2rem;
      text-align: center;
      img {
        width: 50%;
        max-height: 30%;
      }
    }
    div {
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 10px;
    }
  }
}
