<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ul>
  <li *ngFor="let item of products">
    <a [routerLink]="['/product', item.id]">
      <img src="{{item.image}}" alt="{{item.title}}">
      <span>{{item.title}}</span>
    </a>
    <div class="container">
      <span>{{ getStarRating(item.rating.rate) }} </span>
      <span class="votes">{{item.rating.count}} votes</span>
    </div>
    <div>
      <span>{{item.price}}€</span>
      <span (click)="addToCart(item)">🛒</span>
    </div>
  </li>
</ul>
