footer {
  height: 5vh;
  background-color: #bdcdd6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7rem;
  padding: 0.7rem;
  color: black;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}
