form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 300px;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  box-shadow: 10px 10px #bdcdd6;
  padding: 1rem;
  border-radius: 10px;
  h2 {
    color: black;
    text-align: center;
    background-color: #bdcdd6;
    padding: 0.5rem;
    border-radius: 10px;
  }
  mat-form-field {
    width: 90%;
    font-size: 0.8rem;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    max-width: 268.79px;
    gap: 1rem;
    label {
      padding-inline: 1rem;
    }
    .check {
      height: auto;
      width: auto;
    }
  }
  span {
    text-align: center;
    width: 100%;
    color: red;
  }
  button {
    background-color: #bdcdd6;
    width: 70vw;
    max-width: 268.79px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 10px;
  }
}
