.details {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;

  mat-card {
    max-width: 50vh;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 40vh;
      width: 70vw;
    }
    mat-card-header {
      display: flex;
      align-items: center;
      justify-content: center;
      mat-card-title {
        text-align: center;
      }
    }

    div {
      padding: 1rem;
    }

    .price-container {
      flex-direction: row;
      gap: 1rem;
    }
    .product-actions {
      width: 100%;
      margin-inline-start: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .counter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
