.details {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;

  mat-card {
    padding: 2rem;
    gap: 1rem;
    text-align: center;

    mat-card-header {
      display: flex;
      align-items: center;
      justify-content: center;
      mat-card-title {
        text-align: center;
      }
    }

    div {
      padding: 1rem;
    }

    img {
      width: 70vw;
    }

    .price-container {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
