<div *ngIf="product" class="details">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.image" [alt]="product.title">
    <mat-card-content>
      <p>{{ product.description }}</p>
      <div class="rating">
        <span>{{ getStarRating(product.rating.rate) }} {{ product.rating.count }} votes</span>
      </div>
      <div class="price-container">
        <span>{{ product.price }}€</span>
      </div>
    </mat-card-content>
    <mat-card-actions class="product-actions">
      <div class="counter">
        <mat-icon (click)="handleMore()">add_circle_outline</mat-icon>
        <span>{{counter}}</span>
        <mat-icon (click)="handleLess()">remove_circle_outline</mat-icon>
      </div>
      <button mat-icon-button (click)="handleAddToCart(product)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-raised-button color="basic" [routerLink]="['/products']">Back</button>
</div>
