<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div *ngFor="let purchase of purchaseHistory" class="purchase">
  <div class="purchase-header" (click)="togglePurchase(purchase)">
    {{ purchase.date }}
  </div>
  <ul *ngIf="purchase.isOpen" class="products">
    <li *ngFor="let product of purchase.products" class="product">
      <a [routerLink]="['/product', product.id]">
        <img src="{{product.image}}" alt="{{product.title}}">
        <span class="title">{{product.title}}</span>
        <span>{{product.price}}€</span>
      </a>
    </li>
    <span class="price">Total : {{purchase.amount}}€</span>
  </ul>
</div>
