<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="cart-container">
  <ul *ngIf="products">
    <li *ngFor="let product of products">
      <a [routerLink]="['/product', product.id]">
        <img src="{{product.image}}" alt="{{product.title}}">
        <span class="title">{{product.title}}</span>
        <span>X {{product.quantity!}} = {{getProductPrice(product)}}€</span>
      </a>
      <div class="buttons">
        <mat-icon (click)="removeOneFromCart(product)">exposure_neg_1</mat-icon>
        <mat-icon (click)="removeFromCart(product)">remove_shopping_cart</mat-icon>
      </div>
    </li>
  </ul>
  <span class="price">Total : {{getTotalPrice(products)}}€</span>
  <a [routerLink]="['/products']" class="continue">Continue shopping</a>
  <a [routerLink]="isUserLoggedIn ? ['/payment'] : ['/user/login']" class="continue">
    Purchase
  </a>
</div>
